@import "../../../global_styles/mixins";
@import "../../../global_styles/variables";

.form {
  width: 90%;
  max-width: 612px;
  border-radius: 5px;
  padding: 20px 40px 30px 40px;
  box-shadow: 0 2px 4px $darkShadow, 0 8px 16px $darkShadow;

  .formElement {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .invalidInput {
      color: $red;
      font-weight: $medium;
    }
  }

  button {
    width: 100%;
    height: 40px;
    background-color: $darkBlue;
    border-radius: 5px;
    color: $white;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: $veryDarkBlue;
    }
  }
}
